<!doctype html>
<html>

<head>
<title>{{ data.blog_name }}</title>
</head>

<body>
<div class="navi-bar">
    <div id="home" class = "navi-botton">
        <h2><li><a href='./'>home</a></li></h2>
    </div>
    <div id="about" class="navi-botton">
        <h2><li><a href=/about>about</a></li></h2>
    </div>
    <div id="admin" class="navi-botton">
        <h2><li><a href=/admin>admin</a></li></h2>
    </div>
</div>

</body>
<script>
    data = {{ data|safe }}
    function temp_test(data){
        var alt_str = ''
        for(key in data){
            console.log(key + ':' + data[key] )
            alt_str += key + ':' + data[key] + '\n'
        }
        //alert(alt_str)
}
    temp_test(data)
</script>
</html>
