<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Vue 测试实例</title>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../static/blog/showdown.min.js"></script>
<script type="text/javascript" src="../static/blog/showdown-table.min.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="../static/blog/github-markdown.css">
<style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
        .topic{
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
</style>
</head>

<body>
<div id="app">
  <p>
    <router-link to="/home">Home</router-link>
    <!-- <router-link to="/post">Post</router-link> -->
    <router-link to="/about">About</router-link>
    <h1>这是一个博客</h1>
  </p>
  <router-view></router-view>
</div>

<template id="post-list">
  <ul>
    <li v-for="n in info.data">
      <router-link :to="{ path: 'blog', query: { post_id: n.post_id }}">
        {{ n.topic }}
      </router-link>
      <br>
      {{ n.date }}<br><br>
    </li>
  </ul>
</template>

<template id='post'>
  <div>
    {{ info.topic }}
    <br>
    {{ info.date }}
    <br>
    <article  id='markdown-body' class='markdown-body'>
      <span v-html='article_html'></span>
    </article>
    <br>
  </div>
</template>

</body>

<script>

const home = Vue.component(
  'post-list',{
    template:'#post-list',
    data:function(){
      return {
        info:"null",
        template:""
      }
    },
    mounted:function(){
      axios
      .get('/test')
      .then(response => {
          this.info= response.data
      })
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
    },
    methods:{
      CreatePostHref: (post_id)=>{ return "/blog/" + post_id }
    }
  }
)

const post = Vue.component(
  'post',{
    template:'#post',
    data:function(){
      console.log(this.$route.query.post_id);
      return {
        info:{
          'topic':'文章标题',
          'date':'发布日期',
          'text':'正文',
          'post_id':this.$route.query.post_id
          },
        article_html:''
      }
    },
    mounted:function(){
      axios
      .get("/blog/" + this.info.post_id)
      .then(
        response => {
          this.info = response.data.data

          var converter = new showdown.Converter({extensions: ['table']});
          html = converter.makeHtml(this.info.text)
          console.log(html)
          this.article_html = html;
          console.log(this.innerHtml)
        }
      )
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });

    // var converter = new showdown.Converter({extensions: ['table']});
    // html = converter.makeHtml(this.info.text)
    // this.article_html = html;

    // document.getElementById("markdown-body").innerHTML = html;
    }
  }
)

var x = 123456

const about = Vue.component('button-counter', {
  template: '<div v-on:click="incrementHandler">{{ counter }}</div>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    incrementHandler: function () {
      this.counter += 1
      this.$emit('increment')
      console.log(this.counter)
    }
  },
})



const routes = [
  { path: '/home', component: home },
  { path: '/post', component: post },
  { path: '/about', component: about },
  { path: '/blog/', component: post },
]

const router = new VueRouter({
  routes // （缩写）相当于 routes: routes
})

const app = new Vue({
  router
}).$mount('#app')

// 现在，应用已经启动了！
</script>
</html>