<!doctype html>
<html>

<head>
<title>{{ data.topic}}</title>
<script type="text/javascript" src="../static/blog/showdown.min.js"></script>
<script type="text/javascript" src="../static/blog/showdown-table.min.js"></script>
<!-- https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/blog/github-markdown.css">
<style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
        .topic{
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
</style>
</head>

<body>
<div class="navi-bar">
    <div id="home" class = "navi-botton">
        <h2><li><a href='../'>home</a></li></h2>
    </div>
    <div id="about" class="navi-botton">
        <h2><li><a href=/about>about</a></li></h2>
    </div>
    <div id="about" class="navi-botton">
        <h2><li><a href=/admin>admin</a></li></h2>
    </div>
    <div>
    <h1 class='topic' id='topic'>{{ data.topic }}</h1>
    <article  id='markdown-body' class='markdown-body'></article>
    </div>

</body>
<script type="text/javascript">
    data = {{ data|safe }}
    function temp_test(data){
        var alt_str = ''
        for(key in data){
            console.log(key + ':' + data[key] )
            alt_str += key + ':' + data[key] + '\n'
        }
        //alert(alt_str)
    }
    temp_test(data)
    function convert(){
    var text = document.getElementById("md").value;
    var converter = new showdown.Converter();
    var html = converter.makeHtml(text);
    document.getElementById("result").innerHTML = html;
    }
    //convert()
    var converter = new showdown.Converter({extensions: ['table']});
    html = converter.makeHtml(data.text)
    document.getElementById("markdown-body").innerHTML = html;
</script>
</html>
