<!doctype html>
<html>

<head>
<title>{{ data.topic}}</title>
<script type="text/javascript" src="../static/blog/showdown.min.js"></script>
<script type="text/javascript" src="../static/blog/showdown-table.min.js"></script>
<script type="text/javascript" src="../static/blog/blog.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/blog/github-markdown.css">
<style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
        .topic{
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
</style>
</head>

<body>
<div class="navi-bar">
<article  id='markdown-body' class='markdown-body'></article>
</div>

</body>
<script type="text/javascript">
    data = {{ data|safe }}
    temp_test(data)
    //convert()
    var converter = new showdown.Converter({extensions: ['table']});
    html = converter.makeHtml(data.text)
    document.getElementById("markdown-body").innerHTML = html;
</script>
</html>
